.contact {
  display: flex;
  flex-direction: row;

  .cont {
    width: 50%;
    margin-left: 2rem;
    padding-top: 1rem;

    h1 {
      .logo-letter {
        font-size: 3rem;
        display: inline-block;
        opacity: 0;
        animation: rotateIn 1s 1s forwards;
      }

      .logo-letter::before {
        content: "C";
      }
    }

    p {
      font-size: 1rem;
      font-weight: 600;
      margin-top: 2rem;
      color: var(--text-color2);
      letter-spacing: 2px;
      opacity: 0;
      animation: backInUp 1s 2s forwards;
    }
  }

  form {
    width: 100%;
    margin-top: 2rem;
    opacity: 0;
    animation: fadeInUp 1s 3s forwards;

    input,
    textarea {
      background-color: var(--bg-input);
      width: 100%;
      padding: 0.5rem 1rem;
      margin-bottom: 1rem;
      font-size: 0.95rem;
      border: none;
      font-family: Poppins;
      color: var(--text-color1);
    }

    input::placeholder,
    textarea::placeholder {
      font-family: inherit;
    }

    textarea {
      resize: none;
      height: 100px;
    }

    button {
      margin-top: 0;
    }
  }

  .map {
    width: 50%;
    height: 500px;
    padding-left: 1rem;
    position: relative;
    opacity: 0;
    animation: fadeInUp 1s 3s forwards;

    iframe {
      width: 92%;
      height: 100vh;
      position: absolute;
      top: -17%;
      // border-radius: 10px;
      // border: 2px solid var(--primary-color);
    }
  }

  .location {
    position: absolute;
    left: 52%;
    top: 5%;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 2px;
    border-radius: 10px;
    background: var(--text-color2);
    color: var(--bg-color);
    padding: 0.5rem 1rem;
    opacity: 0;
    animation: fadeInDown 1s 4s forwards;

    svg {
      font-size: 1.2rem;
      color: crimson;
    }

    a {
      color: var(--text-logo2);
      text-decoration: underline;
    }
  }
  .loc-btn {
    display: none;
  }
}

@media (max-width: 768px) {
  .contact {
    flex-direction: column;

    .cont {
      width: 100%;
      margin-left: 0;
      padding-right: 4rem;

      p {
        font-size: 0.8rem;
        margin-top: 1rem;
      }
    }

    form {
      margin-top: 2rem;

      input,
      textarea {
        margin-bottom: 0.5rem;
      }
    }

    .location {
      position: absolute;
      left: 20%;
      right: auto;
      top: 40%;
      font-size: 1rem;
      padding: 0.5rem;
      background: #ccc;
      color: #022c43;
      line-height: 1.4rem;
      letter-spacing: 1px;
      z-index: 22;
      transition: 0.5s ease-in-out;
      animation: none;
      opacity: 1;
      transform: translateX(250%);

      svg {
        font-size: 1rem;
      }
    }

    .map {
      display: none;
    }

    .loc-btn {
      display: block;
      font-size: 2.5rem;
      padding: 0.5rem 0.8rem;
      background: crimson;
      border-radius: 50%;
      color: white;
      position: absolute;
      top: 7rem;
      right: 5%;
      cursor: pointer;
      z-index: 13;
    }
  }

  .contact.fade {
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba($color: #000000, $alpha: 0.8);
      z-index: 11;
    }

    .location {
      transform: translateX(0);
    }
  }
}

@media (max-width: 400px) {
  .contact {
    .location {
      left: 3%;
    }
  }
}
